#!/usr/bin/python3
import requests as r
import socket as s
import time
import sys

print("started")
username=""
password=""
hostname=s.gethostname()
hostname=hostname + ".15kmr.com"

def update():
    post=r.post(f"https://{username}:{password}@domains.google.com/nic/update?hostname={hostname}")
    print(post.text)
    print("sleeping for one minute")
    sys.stdout.flush()
    time.sleep(60)

while (1):
    update()
